@import url('default-variables.css');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: box-shadow .4s, background-color .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--primary-color);
    font-weight: var(--font-medium);
}

.nav__logo i {
    font-size: 1.25rem;
}

/* navigation for mobile devices */
@media screen and (max-width: 1150px) {
    /* bottom menu */

    .nav__menu {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
        background-color: var(--container-color);
        padding: 1.25rem 4rem;
        transition: background-color .4s;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        color: var(--text-color);
        transition: color .4s;
    }

    .nav__link:hover {
        color: var(--primary-color);
    }

    .nav__link i {
        font-size: var(--h2-font-size);
    }

    .nav__link span {
        display: none;
    }

    /* actions buttons */
    .nav__actions {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .nav__actions i {
        font-size: var(--h2-font-size);
        color: var(--title-color);
        cursor: pointer;
        transition: color .4s;
    }

    .nav__actions i:hover {
        color: var(--primary-color);
    }
}